<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>Bienvenido!</h1>
    </center>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quibusdam
      eos explicabo repellat numquam ratione, aliquid, dolores vel facilis
      incidunt inventore unde tenetur quo vitae labore exercitationem itaque
      totam voluptatibus?
    </p>
    <center>
      {{nombre_persona}}
    </center>
    <br />

    <hr />

    <p style="color: brown;">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum autem,
      iure, eligendi veritatis sed sequi rem in aliquid obcaecati non quibusdam,
      voluptatum maxime est consequuntur ullam expedita vel tempora itaque.
    </p>
  </body>
</html>
